{% extends "base.html" %}
{% block head %}
{{ super() }}
<style>

  .centerWindow {
    margin: auto;
    width: 90%;
    padding: 10px;
  }
  
  .center {
    line-height: 250px;
    height: 250px;
    border: 3px solid green;
    text-align: center;
    background-color:#5bc0de;
    width:450px;
    max-width:450px; 
    word-wrap:break-word;
  }
  
  .center p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    font-size:35px;
  }
  
  .contain {
    position: relative;
    /* width: 50%;
    max-width: 300px; */
    display: flex;
    justify-content: space-between;
  }
  
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .contain:hover .overlay {
    opacity: 1;
  }
  
  </style>
{% endblock %}
{% block content %}
<div class="centerWindow">
  <div >
    <form id="form" style="text-align: center;"> 
      <input type="text" id="query" name="searchBar" size="100" onkeyup="searchVideo()" style="color: black; font-size: 20px; padding-left: 5px;"  placeholder="Search...">
    </form>
  </div>
  <br><br>
  <div>
    <div id="frames" style="padding-left: 50px;">
      {% for res in result %}
        <div style="float: left; padding-left: 20px; pointer-events: auto;">
          <div class="contain">
            <div id = '{{ res[5] }}' class="center" onmouseover="showWatchOption('{{ res[5] }}')" onmouseout="hideWatchOption('{{ res[5] }}')" onclick="setFrameVideo('{{ res[1] }}','{{ res[2] }}')" data-toggle="modal" data-target="#playVideoModal">
              <p>{{  res[0] }}</p>
            </div>
            <div class="overlay">Watch Video</div>
          </div>
          <div>
            <p>Uploaded by: {{ res[3] }}</p>
            <p>Date: {{ res[4] }} </p>
            <textarea id="description" rows="5" maxlength="1000" cols="62" style="border: none; resize: none; background-color: #2d3033; color: #ffffff;" readonly>{{ res[2] }} </textarea>
          </div>  
        </div>
        &nbsp;&nbsp;
        {% endfor %}
    </div>
  </div>
</div>
<!-- Modal -->
<div id="playVideoModal" class="modal fade" role="dialog" >
  <div class="modal-dialog" style="width:1000px; height:1000px !important;">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" style="padding: 0;" >
        <iframe id = "videoFrame" src=""
                width="1000"
                height="600"
        ></iframe>
      </div>
      <div class="modal-footer" style="text-align: left;">
        <textarea id="modalDesc" rows="8" maxlength="1000" cols="130" style="border: none; resize: none; color: black; text-align: justify;" readonly></textarea>
        <div style="text-align: center;">
          <button type="button" class="btn btn-info" onclick="resetFrameVideo('https://drive.google.com/file/d/1UhWy7s3N8FahiusFIRtRUyM4kvcYKZU7/preview')" data-dismiss="modal">Close</button>
        </div>  
        </div>
    </div>
  </div>
</div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script>
  function searchVideo() {
    var search_word = document.getElementById('query').value;
    $.ajax({
      type : 'POST',
      url : "/searchHome",
      data: {key: search_word,},
      success: function (res) { 
        document.getElementById('frames').innerHTML = res;
      }, 
      error: function (error) { console.log(error) }
    })
    }
  function setFrameVideo(val,desc) {
    document.getElementById('videoFrame').src = val;
    document.getElementById('modalDesc').value = desc;
    }
  function resetFrameVideo(val) {
    document.getElementById('videoFrame').src = val;
    }
  function showWatchOption(val) {
    document.getElementById(val).style.opacity = '0.5';
    document.getElementById(val).style.cursor = 'pointer';
    }
  function hideWatchOption(val) {
    document.getElementById(val).style.opacity = '1';
    }

  var searchBox = document.getElementById("query");
  searchBox.addEventListener("keydown", function (e) {
    if (e.code === "Enter") { 
      e.preventDefault();
      sendData();
    }
  });
</script>
{% endblock %}